[Unit]
Description=Mecánica Asistida Queue Worker
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Restart=always
ExecStart=/usr/bin/php /var/www/html/app-mecanica/Mecanica/artisan queue:work --sleep=3 --tries=3 --max-time=3600
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
